<div class="container p-4" style='margin: 30px auto'>


<div class="d-flex justify-content-center my-4">
  <%= form_with(url: books_path, method: :get) do |form| %>
    <div class="input-group">
      <%= form.text_field :q, value: params[:q], placeholder: 'Enter a book title, author, or keyword', class: 'form-control rounded-0 border-end-0' %>
      <%= form.select :genre, ['Fiction', 'Nonfiction', 'Mystery', 'Romance', 'Thriller', 'Science Fiction'], { prompt: 'Filter by Genre' }, { class: 'form-select rounded-0 border-start-0' } %>
      <button class="btn btn-dark rounded-0" type="submit" style="background-color: #00b4db">Search</button>
    </div>
  <% end %>
</div>


<% if @books.present? %>
  <div class="row m-auto justify-content-center">
    <% @books.items.each do |book| %>
      <div class="col-md-2 mb-4">
        <div class="card book-card">
          <div class="card-img-container">
            <img src="<%= book.volume_info.image_links.thumbnail %>" class="card-img-top" style="height: 100%; object-fit: cover;">
            <div class="card-img-overlay">
              <h5 class="card-title mb-0"><%= book.volume_info.title %></h5>
              <p class="card-text mb-0"><%= book.volume_info.authors.to_s.delete('["]')  %></p>
            </div>
          </div>
          <div class="card-details">
            <div class="card-details-inner">
              <p class="card-text mb-3"><%= book.volume_info.title %></p>
              <%= link_to 'Details', book_path(book), class: 'btn btn-primary mb-3' %>
              <p class="card-text"><small class="text-muted"><%= book.volume_info.authors.to_s.delete('["]')  %></small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results found</p>
<% end %>




</div>
