<div class="container m-auto p-4">

<div class='p-4' style='text-align:center'>
  <%= form_tag books_path, method: :get do %>
    <%= text_field_tag :q, params[:q], placeholder: 'Enter a book title, author, or keyword' %>
    <%= select_tag :genre, options_for_select(['', 'Fiction', 'Nonfiction', 'Mystery', 'Romance', 'Thriller', 'Science Fiction']), prompt: 'Filter by Genre' %>
    <%= submit_tag 'Search', class: 'btn btn-dark'%>
  <% end %>
</div>


  <% if @books.present? %>

    <% @books.items.each do |book| %>

   <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <% if book.volume_info.image_links %>
          <%= image_tag(book.volume_info.image_links.thumbnail) %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= book.volume_info.title %></h5>
        <p class="card-text"><%= book.volume_info.description %></p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
<% end %>

    <% else %>
      <p>No results found</p>
    <% end %>

</div>
